# Renomeie para .env.local e preencha (os valores abaixo são do projeto Nexo)
NEXT_PUBLIC_SUPABASE_URL=https://xgdqmbrbzjfjonglfroq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhnZHFtYnJiempmam9uZ2xmcm9xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY1NTkxNDIsImV4cCI6MjEwMjEzNTE0Mn0.3vj6veP7Xm-5b6SSTxrIXLsrRPno_ZW4H-MKiDEQTxA
